@model List<Wedding>

<div> 
    <h1 class="display-4">Welcome to the Wedding Planner ~</h1>
    <a asp-action="Logout" asp-controller="home">Logout</a>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Lovebirds</th>
                <th scope="col">Date of Wedding</th>
                <th scope="col">Guests</th>
                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach(var wedding in Model)
            {
            <tr>
                <td><a href="/wedding/@wedding.WeddingId" class="actionLinks">@wedding.WedderOne & @wedding.WedderTwo</a></td>
                <td>@wedding.Date.ToString("MM/dd/yyyy")</td>
                <td>@wedding.RSVPs.Count</td>
                <td>
                
                @if(wedding.UserId == ViewBag.UserId)
                {
                    <form method="post" asp-action="Delete" asp-controller="home" asp-route-id="@wedding.WeddingId">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                }
                else
                {
                    if(wedding.RSVPs.Count == 0)
                    {
                        <form method="post" asp-action="RSVP" asp-controller="home" asp-route-id="@wedding.WeddingId">
                            <input type="submit" class="btn btn-success" value="RSVP">
                        </form>
                    }
                    else
                    {
                        foreach(var rsvp in wedding.RSVPs)
                        {
                            if(rsvp.WeddingId == wedding.WeddingId && rsvp.UserId == ViewBag.UserId)
                            {
                                <form method="post" asp-action="RSVP" asp-controller="home" asp-route-id="@wedding.WeddingId">
                                    <input type="submit" class="btn btn-primary" value="Un-RSVP">
                                </form>
                                break;
                            }
                            else
                            {
                                <form method="post" asp-action="RSVP" asp-controller="home" asp-route-id="@wedding.WeddingId">
                                    <input type="submit" class="btn btn-success" value="RSVP">
                                </form>
                                break;
                            }
                        }
                    }
                }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<a href="/wedding" class="btn btn-info">New Wedding</a>