@model RSVP

<div>
    <a asp-action="Dashboard" asp-controller="home">Dashboard</a>
    <a asp-action="Logout" asp-controller="home">Logout</a>
</div>

<div>
    <h1>Plan your wedding</h1>
    <form asp-action="SubmitNewWedding" asp-controller="Home" method="post">
        <span asp-validation-for="@Model.Wedding.WedderOne"></span>
        <label asp-for="@Model.Wedding.WedderOne"></label>
        <input asp-for="@Model.Wedding.WedderOne">

        <span asp-validation-for="@Model.Wedding.WedderTwo"></span>
        <label asp-for="@Model.Wedding.WedderTwo"></label>
        <input asp-for="@Model.Wedding.WedderTwo">
        
        <span asp-validation-for="@Model.Wedding.Date"></span>
        <label asp-for="@Model.Wedding.Date"></label>
        <input asp-for="@Model.Wedding.Date">

        <span asp-validation-for="@Model.Wedding.Address"></span>
        <label asp-for="@Model.Wedding.Address"></label>
        <input asp-for="@Model.Wedding.Address">
        <br>
        <button class="btn btn-info">Create Wedding!</button>
    </form>
</div>