@model Wedding

<div>
    <a asp-action="Dashboard" asp-controller="home">Dashboard</a>
    <a asp-action="Logout" asp-controller="home">Logout</a>
</div>

<div>
    <h1 class="display-4">@Model.WedderOne & @Model.WedderTwo's Wedding!</h1>
    <p class="lead">Date: @Model.Date.ToString("MM/dd/yyyy")</p>
    <p class="lead">Guests:</p>
    @foreach(var rsvp in Model.RSVPs)
    {
    <ul>
        <li class="lead">@rsvp.Guest.firstName @rsvp.Guest.lastName</li>
    </ul>
    }
</div>

